body{
	padding: 0px;
	margin: 0px;
	background-color: #7cccf8;
}

#logo, #backboard, canvas, #mainInput, #choosePhoto,#question-2-title,#question-3-title ,#startFriend,#q-holder{
	margin: 0 auto;
}

#container{
	width: 320px;
	height: 440px;
	background: url("../assets/bg.jpg")no-repeat;
}

#logo{
	background: url("../assets/logo.png")no-repeat;
	width: 218px;
	height: 64px;
}

#backboard{
	background: url("../assets/backboard.png")no-repeat;
	width: 254px;
	height: 346px;
}

canvas{
	padding: 30px 0px 20px 0px;
}

#mainInput{
	opacity: 0;
	width: 125px;
	height: 30px;
	display: block;
	position: relative;
	bottom: 35px;
}

#choosePhoto{
	background: url("../assets/choose-img.png")no-repeat;
	width: 145px;
	height: 43px;
	position: relative;
}

#continue-btn{
	background: url("../assets/continue-btn.png")no-repeat;
	width: 173px;
	height: 68px;
	position: relative;
	bottom: 105px
}

#question-2-title{
	background: url("../assets/becomefriends.png")no-repeat;
	width: 118px;
	height: 29px;
	position: relative;
	bottom: 85px;
	left: 218px;
}

#question-3-title{
	background: url("../assets/yournames.png")no-repeat;
	width: 94px;
	height: 11px;
	position: relative;
	bottom: 135px;
	left: 218px;
}

#startFriend{
	width: 110px;
	height: 25px;
	position: relative;
	display: block;
	bottom: 70px;
	left: 225px;
}

#q-holder{
	width: 75%;
	overflow: hidden;
	position: relative;
	bottom: 125px;
	left: 260px;
}

#name1, #name2{
	width: 41%;
	font-weight: bold;
}

#name1{
	float: left;
}

#name2{
	float: right;
}

input[type="month"]{
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(16%,#d3d3d3), color-stop(100%,#ffffff));*/
	border: solid hsl(206, 62%, 40%) 3px;
}

input[type="text"]{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(16%,#d3d3d3), color-stop(100%,#ffffff));
	border: solid hsl(206, 62%, 40%) 3px;
}

